%h2 Hatena Bookmark to Lingrについて
%ul
  %li はてなのアカウントでログインして、配信するタグを設定すると、Lingrの指定ルームに指定のタグが付いたブックマークが自動的に配信されるようになります（現在はaizuにのみ対応）
  %li ブックマークは公開部分の情報のみ配信されます
  %li はてなとの連携解除は<a href="https://www.hatena.ne.jp/sh19910711/config/auth/provider">このページ</a>から行ってください
  %li ご利用は自己責任ということでよろしくお願いします

